/*:host {*/
/*  display: grid;*/
/*  gap: 16px;*/
/*  padding: 16px;*/
/*  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));*/
/*}*/

:host {
  display: flex;
  flex-direction: column;
}

.factory-report-container {
    display: grid;
    gap: 16px;
    padding: 16px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

